
html{
    
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
h1{
    color:pink;
    font-size: 50px;
    display: block;
    position: absolute;

}
.app{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 25vh 25vw;
}
.buttongroup{
    margin-top: 90px;

}
button{
    position:absolute;
    display:flex;
    cursor: pointer;
    margin: 10px 40px;
    padding: 20px 30px;
    background-color: rgb(146, 98, 98);
    border: none;
}
.button--no{
    right: 0%;
}
.button--yes{
    right: 500px;
    
}
